@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.btn-tooltip {
    @apply rounded-full flex items-center justify-center bg-blue-500 h-20 w-20;
    @apply text-white uppercase text-sm font-bold leading-none -mt-20 relative;
}

.btn-tooltip:hover {
    animation: none;
}

.btn-tooltip:before,
.btn-tooltip:after {
    content: '';
    @apply absolute rounded-full;
    background: rgba(77, 161, 255, .7);
    animation: puls 1.5s linear infinite;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-tooltip:after {
    animation-delay: .3s;
}

@keyframes puls {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

.settings__item {
    @apply w-full flex items-center justify-between text-sm uppercase;
    @apply font-bold text-gray-600 pb-3 border-b border-gray-300 leading-none transition duration-500;
}

.settings__item:focus {
    @apply outline-none;
}

.settings__item > img {
    @apply transition duration-500;
}

.settings__item:hover,
.settings__item.active {
    @apply text-gray-600;
}

.settings__item:hover > img,
.settings__item.active > img {
    @apply opacity-100;
}

.settings__item.active > img {
    @apply transform rotate-180;
}

.custom-checkbox input {
    @apply hidden;
}

.custom-checkbox {
    @apply relative flex items-center text-blue-900 capitalize mb-3 cursor-pointer;
}

.custom-checkbox span {
    @apply flex items-center justify-center bg-blue-500o25 w-4 h-4 rounded-full mr-3 border border-blue-500o25 transition duration-500;
}

.custom-checkbox span:before {
    content: '';
    width: 8px;
    height: 6px;
    background: url('../icons/check.svg');
    background-size: cover;
    @apply opacity-0 transition duration-500;
}

.custom-checkbox:hover span {
    @apply border-blue-500;
}

.custom-checkbox input:checked ~ span {
    @apply border-blue-500 bg-blue-500;
}

.custom-checkbox input:checked ~ span:before {
    @apply opacity-100;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

input:focus,
button:focus,
select:focus {
    @apply outline-none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=color]::-webkit-color-swatch-wrapper {
    @apply p-0;
}


input[type=color]::-webkit-color-swatch {
    @apply border-none;
}

.input--number button:disabled {
    @apply opacity-25 cursor-not-allowed;
}

.switch input {
    @apply hidden;
}

.switch span {
    @apply flex bg-gray-900o11 rounded-full w-12 h-5 relative cursor-pointer;
    transition: .3s;
}

.switch span:before {
    content: '';
    @apply absolute w-6 h-6 bg-white left-0 rounded-full;
    border: 1px solid #D0D7DD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
    top: -2px;
    transition: .2s;
}

.switch input:checked ~ span {
    @apply bg-blue-500;
}

.switch input:checked ~ span:before {
    left: calc(100% - 24px);
}

/*range*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    height: 11px;
}
input[type=range]:hover ~ div .thumb {
    @apply border-blue-500;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range] {
    @apply w-full h-full block absolute z-20;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}

input[type=range] + div .thumb {
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    @apply rounded-md;
}
input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 59%;
    border: none;
    position: relative;
    z-index: 1;
    transition: .2s;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 6px;
}
input[type=range]::-moz-range-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 59%;
    border: none;
    position: relative;
    z-index: 2000;
    transition: .2s;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 6px;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border: none;
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border: none;
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 59%;
    border: none;
    position: relative;
    z-index: 1;
    transition: .2s;
}
input[type=range]:hover::-webkit-slider-thumb  {
    border: none;
}

select {
    @apply border-none bg-transparent text-xs text-blue-900;
    appearance: none;
}

.hljs-attribute {
    padding-left: 30px;
}

.hljs {
    height: auto;
    overflow: visible;
    display: block;
    padding-bottom: 40px;
}
